<div class="main-section">
    <div class="top-bar">
        <div class="top-bar--title">
            <h3>Receipt<span style="color:dimgrey">(#MD/{{receipt.id}}/2019) <a href="/receipts/{{receipt.id}}/pdf" class="button"><i class="material-icons">print</i></a></span> </h3>
        </div>
        
    </div>
    
    <div class="main-content">
        
        <div class="invoice-form">
            <br>
            <form action="/receipts/edit/{{receipt.id}}" method="POST">
                <div class="invoice-form--address">
                   
                    <div class="invoice-form--name">
                        <div class="input-field">
                            <input type="text" id="name" name="customername" value="{{receipt.customer}}" class="validate" required>
                            <label for="name">Patient Name</label>
                        </div>
                        <div class="input-field">
                            <input type="text" id="customeraddrs" name="customeraddress" value="{{receipt.customeraddress}}" required>
                            <label for="customeraddrs">Address</label>
                        </div>
                        <div class="input-field">
                            <input type="text" id="principalMember" name="principalMember" value="{{receipt.principalMember}}" required>
                            <label for="principalMember">Principal Member</label>
                        </div>
                        <div class="input-field">
                            <select name="paymentType">
                                <option value="" disabled selected>{{receipt.paymentType}}</option>
                                <option value="Cash">Cash</option>
                                <option value="Insurance">Insurance</option>
                            </select>
                            <label>Payment Method</label>
                        </div>
                    </div>
                    <div class="invoice-form--date">
                        <div class="input-field">
                            <label for="date">Date</label>
                            <input type="text" id="currdatepicker" class="datepicker" value="{{receipt.date}}" disabled="disabled" name="date" required>
                        </div>
                        <div class="input-field">
                            <input type="text" id="companyName" name="companyName" value="{{receipt.companyName}}" required>
                            <label for="companyName">Company Name</label>
                        </div>
                        <div class="input-field" style="margin-bottom: 1.5rem;">
                            <select name="attendingDoctor" aria-placeholder="">
                                <option value="" disabled selected>{{receipt.attendingDoctor}}</option>
                                <option value="Dr Samuel Chweya">Dr Samuel Chweya</option>
                            </select>
                            <label>Attending Doctor</label>
                        </div>
                        <div class="input-field">
                            <select name="branch" aria-placeholder="">
                                <option value="" disabled selected>{{receipt.branch}}</option>
                                <option value="Mombasa">Mombasa</option>
                                <option value="Nairobi">Nairobi</option>
                            </select>
                            <label>Branch</label>
                        </div>
                    </div>
                </div>
                <div class="invoice-form--items">
                    <h6>Receipt Items</h6>
                    {{#each receipt.Items }}
                        <div class="invoice-form--item">
                            <div class="children">
                                <label for="name">Name</label>
                                <input type="text" name="name" placeholder="Item one" value="{{name}}" disabled="disabled">
                            </div>
                            <div class="children">
                                <label for="quantity">Quantity</label>
                                <input type="text" name="quantity" placeholder="1" value="{{quantity}}">
                            </div>
                            <div class="children">
                                <label for="price">Price</label>
                                <input type="text" name="price" placeholder="" value="{{price}}">
                            </div>
                            <input type="hidden" name="id" value="{{id}}">
                        </div>
                    {{/each}}
                </div><br>
                <div class="invoice-form--item">
                    <div class="children">
                        <h6>Total</h6>
                        <span></span>
                    </div>
                    <div class="children">
                        <label for="total">KES</label>
                        <input type="text" name="total" value="{{receipt.total}}">
                    </div>
                </div> <br>
                
                <button class="btn waves-effect waves-light" type="submit">Update Receipt</button>
            </form>
        </div>
        <div class="invoice-options" style="" >
            <h6>SERVICES</h6>
            <div class="searchbar">
                <input type="search" class="search" placeholder="search">
            </div>
            <div class="list-item"style="overflow: auto; height: 500px">
                <ul id="option--lists" class="option--list">
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    var list = ''
    var cell = ''
   $.get('/json/services.json',function(data){
         // data is a JS object parsed from a JSON response
    },'json').then(data => {
        {{!-- console.log(data) --}}
        data.forEach(item => {
            console.log(item)
            list += `<li class="service-options"><a href="#" class="item-card"><span class="title">${item.itemName}</span><span class="price" style="display:none">${item.price}</span></a></li>`
        });
        $('#option--lists').append(list)
    }) ;

    $('.search').keyup(function(){
        
        var searchText = $(this).val();
        
        $('#option--lists > li').each(function(){
            
            var currentLiText = $(this).text(),
            showCurrentLi = currentLiText.toLowerCase().indexOf(searchText.toLowerCase()) !== -1;
            
            $(this).toggle(showCurrentLi);
            
        });     
    });
    
</script>