<style>
    body {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 300;
    }
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .invoice-header, .invoice--heading, .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    p {
        margin: 0;
    }
    .invoice--table, .invoice--heading {
        width: 100%;
        border: 0.5px #2c2c2c solid;
        margin-bottom: 30px;
    }
    th {
        text-align: left;
    }

</style>
<div class="container">
        <div class="invoice-header">
                <div class="invoice--logo"><img src="/images/logo.png" alt="" style="width: 50%;"></div>
                <div>
                    <h3>RECEIPT</h3>
                    
                </div>
        </div>
        <br>
        <div class="invoice-body">
            <div class="invoice--heading">
                <div id="customer">
                    <table id="meta">
                        <tr>
                            <td class="meta-head">ReceiptNo:</td>
                            <td>MD/{{ receipt.id }}/2019</td>
                        </tr>
                        <tr>
                            <td class="meta-head">Date:</td>
                            <td>{{ receipt.date }}</td>
                        </tr>
                        <tr>
                            <td class="meta-head">Branch:</td>
                            <td>{{receipt.branch}}</td>
                        </tr>
                        <tr>
                            <td class="meta-head">Doctor:</td>
                            <td>{{receipt.attendingDoctor}}</td>
                        </tr>
                        <tr>
                            <td class="meta-head">Patient Name:</td>
                            <td>{{receipt.customername}}</td>
                        </tr>
                        <tr>
                            <td class="meta-head">Principal Member:</td>
                            <td>{{receipt.principalMember}}</td>
                        </tr>
                    </table>
                </div>
                <div class="invoice--address">
                    <p>Company Name: {{ receipt.companyName }}</p>
                    <p>Covered by: {{receipt.paymentType}}</p>
                    <p>Membership NO: MDMNO/2019/{{receipt.id}}</p>
                    <p>FileNo: MDFID/2019/{{receipt.id}}</p>
                </div>
            </div>
            <table class="invoice--table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <td></td>
                        <th>Total</th>
                    </tr>
                </thead>
                
                <tbody>
                    {{#each receipt.Items }}
                    <tr class="item-row">
                        <td class="item-name">{{ name }}</td>
                        <td>{{ price }}</td>
                        <td>{{ quantity }}</td>
                        <td></td>
                        <td><span class="price">{{ price }}</span></td>
                    </tr>
                    {{/each}}
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="2" class="blank"> </td>
                        <td colspan="2" class="total-line">Net Total</td>
                        <td class="total-value"><div id="total">{{ receipt.total }}</div></td>
                    </tr>
                </tfoot>
                
            </table>
        </div>
        <div>
            <p>Prepared By: My Dentist</p>
            <p>Hurlingham, Argwings Kodhek Rd,</p>
            <p>Chaka Court, Suite 5</p>
            <p>Tel: 0771 669 006</p> 
            <p>Mobile:  0726 061 561</p>
        </div>
        <br><br><br>
        <div>
            <p>I, the (undersigned), being the patient/guardian, confirm use of the services listed on this receipt. I also confirm that i shall  be fully and severally liable for the hospital bills, if for any reason my insurance/employer declines to settle the bill amount.</p>
        </div>
        <br><br>
        <div class="footer">
            <p>Parent/Guardian Sign</p>
            <p>Stamp</p>
        </div>
    </div>